# Ignore the data directory
ILP_Test_Data*
validation_dataset*
icp_trace*
figures

# But keep the archive
# !ILP_Test_Data.7z

.vscode
.venv

__pycache__

.python-version
uv.lock

temp.py

**OLD**

render_eq.py